.cells {
  display: flex;
  flex-wrap: wrap;
  width: var(--width);
  height: var(--height);
  margin: 20px auto 30px;
  border: 5px solid darken($panel, 10);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: $panel;
  border: 2px solid darken($panel, 5%);

  //shwo
  &--show {
    background: darken($panel, 5%);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }

  //set flagg
  &--flag {
    color: pink;
    font-size: 2rem;
  }

  //mine/bomb
  &--mine {
    background: rgb(128, 31, 31) !important;
    color: #ddd;
    font-size: 3rem;
  }
}
